/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/adding-content/lookandfeel/#project-style-files
*/
$font-size-base: 1.5rem;

$sidebar-font-size: 1.2 rem; /* Define el tamaño de fuente específico para el menú */
